<li><article class="review">
  <div class="rating">
    <img src="assets/images/tapioca-ratings.png" {{bind-attr class="bubbleRating :bubble-img"}}></img>
  </div>
  <p>{{description}}<p>
  <p class='review-user'>-{{username}}</p>
</article></li>