@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300,400italic);
@import url(http://fonts.googleapis.com/css?family=Maven+Pro:400,500,700);

* {
  color: #444;
  text-decoration: none;
  outline: none;
}

ul, ol {
  list-style: none;
}

ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input, dl, dt, dd, figure, figcaption {
  margin: 0;
  padding: 0;
}

a img, :link img, :visited img, fieldset {
  border: none;
}

address {
  font-style: normal;
}

header, section, article, nav, footer, hgroup, details, summary, figure {
  display: block;
}

html, body, body .ember-view, #main, article#shops, article#shop {
  height: 100%;
}

body {
  font-size: 15px;
  font-family: Roboto;
  background-color: #efefef;
}

header {
  width: 20%;
}

header .logo {
  background-color: #A0D2F3;
  padding: 15px 0 15px 15px;
}

header .logo a:hover {
  color: #333;
}

#shops {
  padding-top: 15px;
  background-color: #FBE997;
  display: inline-block;
  width: 20%;
  vertical-align: top;
}

#shops h1 {
  padding-left: 15px;
  padding-bottom: 10px;
  color: #F06F07;
}

.shop-row {
  padding-top: 5px;
  padding-bottom: 5px;
}

.shop-row a {
  padding-left: 15px;
  width: 100%;
  height: 100%;
  display: block;
}

.shop-row:hover {
  background-color: #F06F07;
}

.shop-row:hover > a {
  color: white;
}

#right-outlet {
  width: 78%;
  display: inline-block;
  padding-top: 15px;
  padding-left: 15px;
  vertical-align: top;
}

.shop-details p {
  margin-top: 15px;
}

#reviews {
  padding-top: 30px;
}

#reviews-heading {
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 10px;
}

.review {
  padding-top: 10px;
  padding-bottom: 10px;
}

.review-user {
  margin-left: 20px;
}

.rating {
  overflow: hidden;
  width: 75px;
  height: 16px;
  position: relative;
}

.bubble-img {
  position: absolute;
}

.bubbles-1 {
  top: -14px;
}

.bubbles-2 {
  top: -28px;
}

.bubbles-3 {
  top: -42px;
}

.bubbles-4 {
  top: -56px;
}

.bubbles-5 {
  top: -70px;
}

dt label {
  font-weight: 500;
  font-size: 15px;
}

.add-shop {
  position: absolute;
  right: 20px;
  top: 20px;
}

.add-shop a {
  color: #DC4D07;
}

.add-shop:hover {
  text-decoration: underline;
}

.new-shop-form {
  margin-top: 15px;
}

.new-shop-form dl {
  margin-top: 10px;
}

.new-shop-form dd {
  padding: 5px 0;
}

.create-shop-button {
  margin-top: 15px;
  border: 1px solid white;
  padding: 8px;
  cursor: pointer;
  background-color: #DC4D07;
  color: white;
  border-radius: 4px;
}

.create-shop-button:hover {
  background-color: #F06F07;
  color: white;
}

.create-shop-button:active {
  background-color: white;
  color: #DC4D07;
  border: 1px solid #DC4D07;
}