<article id="shop">
  <div class="shop-details">
    <h1>{{name}}</h1>
    <p>Location: {{location}}</p>
  </div>

  <article id="reviews">
    <p id="reviews-heading">Reviews</p>
    <ul>
    {{#each review in reviews}}
      {{review-details content=review}}
    {{/each}}
    </ul>
  </article>
</article>

{{outlet}}